/****************************
* This is the CSS for the DST.
* Any image URLs would be as follows /dynamic_sheets/minimal4e/0.1/images
*****************************/

/* Temorary Demo Styling */

body{
	padding:10px 10px 10px 10px;
}

/* Jedi Input Styles */

form{
	position:relative;
}

input {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px -1px;
	font-family:palatino;
	font-size:8pt;
	color:#776655;
}

.submit_button{
	position:absolute;
	right:-2px;
	top:1px;
	height:16px;
	width:10px;
	color:#070;
}

.submit_text {
	position:relative;
	top:-5px;
	left:-1px;
	font-size:9pt;
}

.dsf{
	display:inline-block;
	margin:0px 0px 1px 0px;
	height:16px;
}

.type3{
	width:155px;
}

.type5{
	width:120px;
}

.type7{
	width:80px;
}

.typef{
	width:208px;
}

.typeq{
	width:590px;
}

.typew{
	width:690px;
}

.typer{
	float:right;
}

/* Pips Interface Styles */

.pips{
	position:relative;
	z-index:2;
	float:right;
	top:1px;
}

.pips3{
	width:55px;
}

.pips5{
	width:90px;
}

.pips7{
	width:129px;
}

/* List Interface Styles */

.add_button{
	float:right;
	cursor:pointer;
}

.delete_button{
	color:#AA5544;
	cursor:pointer;
}

/* Text Area Interface Styles */

textarea{
	font-family:palatino;
	font-size:9pt;
	color:#776655;
}

.area_submit{
	top:1px;
	right:0px;
}

/* Exalted Sheet Styles */

.main{

	position:relative;
	width:708px;
	padding:0px 10px 10px 10px;
	
	background-image:url('images/background.jpg');
	background-position:top left;
	background-repeat:no-repeat;
	background-color:#EEEECC;
	
	border-style:solid;
	border-width:1px;
	border-color:#CCBBAA;
	
	font-family:palatino;
	font-size:9pt;
	font-variant:small-caps;
	line-height:17px;
	color:#776655;
	
}

.prototypes{
	display:none;
}

.corner_top_left{
	position:absolute;
	left:-7px;
	top:-7px;
}

.corner_top_right{
	position:absolute;
	right:-7px;
	top:-7px;
}

.corner_bottom_left{
	position:absolute;
	left:-7px;
	bottom:-7px;
}

.corner_bottom_right{
	position:absolute;
	right:-7px;
	bottom:-7px;
}

.brass_bottom{
	position:absolute;
	left:262px;
	bottom:-7px;
}

.section{
	padding:0px 0px 5px 0px;
	margin:0px 0px 10px 1px;
}

.section_head{
	font-size:12pt;
	font-weight:bold;
	letter-spacing:3px;
	border-bottom:solid 1px #998877;
	margin-bottom:5px;
}

.column{
	width:227px;
	display:inline-block;
	vertical-align:top;
}

.column_spacing{
	margin-right:10px;
}

.page_head{
	text-align:center;
	width:600px;
	margin:22px 0px 0px 55px;
	padding:0px 0px 30px 0px;
}

.align_right{
	text-align:right;
}

.align_left{
	text-align:left;
}

.motivation{
	display:inline-block;
	width:703px;
	min-height:35px;
	position:relative;
}

.name{
	display:inline-block;
	font-size:18pt;
	margin:0px 0px 9px 0px;
	width: 300px;
	height:16px;
}


